html{
    background-color: #083b4c;
}
#container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.titolo{
    font-family: monospace;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    margin-bottom: 50px;
    padding-top: 30px;
}

.fizzbuzz{
    height: 100px;
    width: 100px;
    background-color: #f0466f;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
    
}

.fizz{
    height: 100px;
    width: 100px;
    background-color:#0bd6a1;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}
.buzz{
    height: 100px;
    width: 100px;
    background-color:#ffd166;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}
.box{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color:#1389b2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}
